body{
   text-align: center;
   margin: 5em;
   font-family:'Libre Franklin', sans-serif;

}
.img2{
    width: 650px;
    height:386px; 
}
.first{
    font-weight: 300;
    font-size: 2.5em;
    color: hsl(0, 0%, 59%);
}
span{
    color: black;
    font-weight: 700;
}
small{
    font-size: 0.4em;
color: black;
}
button{
    border-radius: 80px;
        background-color: hsl(223, 87%, 63%);
        border: none;
        color: white;
        padding: 10px 38px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        font-family:'Libre Franklin', sans-serif;
        font-weight: 600;
        box-shadow: 5px 5px 18px 1px rgba(0, 0, 255, 0.315);
}
input{
    border-radius: 80px;
    padding: 10px 60px;
    border-color: 1px; 
    border: 1px solid rgba(146,140,140,0.4);
    font-family:'Libre Franklin', sans-serif;
}

button:hover{
    background-color: hsl(223, 71%, 68%);  
    cursor: pointer;

}
footer{
    padding-top: 100px;
    
}
.fa-facebook-f{
    padding: 10px;
    color:hsl(223, 87%, 63%);
    height: 1em;
    width: 1em;
}
.fa-twitter{
    padding: 10px;
    color:hsl(223, 87%, 63%);
    height: 1em;
    width: 1em;
}
.fa-instagram{
    padding: 10px;
    color:hsl(223, 87%, 63%);
    height: 1em;
    width: 1em;
}
a{
    text-decoration: none;
    padding:20px;

}
.copyright{
    font-size: 11px;
}
.fa-facebook-f:hover{
    color: white;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
    border-radius: 30px;
}
.fa-twitter:hover{
    color: white;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
    border-radius: 30px;
}
.fa-instagram:hover{
    color: white;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
    border-radius: 30px;
}
@media screen and (max-width: 375px) {
    body{
        padding:0px;
        width: 375px;
    }
/*adjust the image , font*/
#success {
    margin-left: -350px;
}

#error {
    margin-left: 120px;
}
}
#error {
    color: hsl(354, 100%, 66%);
    font-style: italic;
    font-size: 12px;
    line-height: 1cm;
}

#success {
    color: hsl(98, 76%, 43%);
    font-style: italic;
    font-size: 12px;
    line-height: 1cm;
    }

   
   
   
   
   
